@font-face {
  font-family:Gulraz;
  src:url("Fonts/Gulzar/Gulzar-Regular.ttf");
}
@font-face {
  font-family: Poppins;
  src:url("Fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: Lato;
  src:url("Fonts/Lato/Lato-Bold.ttf");
}
@font-face {
  font-family: LatoR;
  src:url("Fonts/Lato/Lato-Regular.ttf");
}
body{
 margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;
}
header{
  height: 75px;
  font-family:"Myriad Pro", sans-serif;
  font-weight: 250;
  background-color:#ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding:20px;
  div{
    a{
      padding:6px;
    }
  }
a{
  color:black;
  text-decoration: none;
  &:hover{
    color:orangered;
  }
}
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  >span{
    width: 45%;
    text-align: center;
    font-size:60px;
    color:white;
  }
  >button{
    margin-top: 35px;
    color:white;
    border-radius: 30px;
    text-transform: uppercase;
    background-color:#fc5f45;
    border: none;
    padding: 15px 35px 15px 35px;
    &:hover{
      transition: 0.3s;
      background-color:orangered;
    }
  }
  height: 775px;
  background-color:#3f4049;
  .advantages{
    margin-left: 40px;
    margin-top: 50px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    .item:first-child{span{color:#38c695;text-transform: uppercase}}
    .item:nth-child(2){ span{color:#b27cf5;text-transform: uppercase}}
    .item:nth-child(3){ span{color:#feb960;text-transform: uppercase}}
   .item{
     span{font-family: "Gill Sans", sans-serif;font-size: 13px}
     img{width: 25px;height:25px;}
     display: flex;
     gap:20px;
     align-items: center;
     flex-direction: column;
   }
  }
}
.about{
  background-color:#ffffff;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  .left-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 700px;
    border:10px solid #9a9290;
     background: linear-gradient(#cccccc 10%,#d9aca5);
    span{font-size: 50px;color:#9a9290;}
  }
  .right-image{
    position: relative;
    right: 67px;
    background-color:#ffffff;
    height: 550px;
    width: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.21);
    span:first-child{text-align: left;width: 488px;margin-bottom: 20px;font-size: 50px;font-family:Gulraz;}
    span:nth-child(2),span:nth-child(3){
      font-family:Poppins;
      width: 488px;
    }

    span:nth-child(2){margin-bottom: 40px;}
    .colors{
      position: absolute;
      top:550px;
      height: 3px;
      width: 100%;
      background:linear-gradient(90deg, rgba(254,185,96,1) 25%, rgba(56,198,149,1) 25%, rgba(56,198,149,1) 50%, rgba(178,124,245,1) 50%, rgba(178,124,245,1) 75%, rgba(252,95,69,1) 75%);
    }
  }
}
.our-focus{
  height: 824px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
  h2{
    font-size: 50px;
    margin-bottom: 25px;
  }
  >span{font-size: 18px;margin-bottom: 80px;font-family:Poppins;color:#616161;}
  .services{
    width: 1140px;
    justify-content: space-between;
    display: flex;
    div:first-child .services-line{
      background: #fc5f45;
      height: 3px;
      position: relative;
      width: 100%;
      top:290px;
    }
    div:nth-child(2) .services-line{
      background: #38c695;
      height: 3px;
      position: relative;
      width: 100%;
      top:295px;
    }
    div:nth-child(3) .services-line{
      background: #b27cf5;
      height: 3px;
      position: relative;
      width: 100%;
      top:290.8px;
    }
    div:nth-child(4) .services-line{
      background: #feb960;
      height:3px;
      position: relative;
      width: 100%;
      top:290px;
    }
    >div{
      width: 263px;
      height: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     gap:25px;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.21);
      .h3{font-size: 20px;font-family:Lato;}
      span:last-child{text-align: center;width: 200px;font-family:Poppins;color:#616161;font-size: 15px;}
    }
  }
}
.video{
  background-color: #3f4049;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:35px;
  span:first-child{font-size:30px;}
  span:last-child{font-size: 15px;}
  span{color:white;font-family:LatoR;font-weight: normal;}
}
.portfolio{
  height:1385px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img,.img{
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.11);
  }
  h2{
   font-size: 50px;
    margin-bottom: 25px;
  }
  >span:nth-child(2){
    font-size: 18px;
    margin-bottom: 80px;
    font-family:Poppins;
  }
  .photos{
    width: 1121px;
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 288px 288px 288px;
    gap:22px;
    .img{
    }
    span{position: relative;left:130px;bottom:25px;font-family: "Gill Sans", sans-serif;font-size:18px;
    }
    .inner-img{height: 228px;background-color:#c9c9c9;display: flex;justify-content: center;align-items:end;
     &:hover{
       transition: 0.3s;
       background-color: #9a9290;
     }
      z-index: 100;
    }
    .plus{position: relative;bottom:140px;left:50px;
      z-index: 1;
    }

  }
}
.team{
  height: 1226px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2{
    font-size: 50px;
    margin-bottom: 25px;
  }
  >span:nth-child(2){
    font-size: 18px;
    margin-bottom: 80px;
    font-family:Poppins;
  }
  .members{
    display: flex;
    width: 1140px;
    justify-content: space-between;
    padding: 5px;
     .members-block{
       height: 350px;
       width: 263px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       background-color: #ffffff;
       box-shadow: 0 0 10px 0 rgba(0,0,0,0.11);
        span{
          font-family:Lato;
        }
       span:nth-child(2){
         font-size: 18px; margin-top: 22px;
       }
       span:nth-child(3){
         color:#616161;
         font-size: 13px;margin-top:5px;margin-bottom: 18px;
       }
       .members-img{
         display: flex;
         justify-content: center;
         align-items: center;
       }

     }
    .members-block:first-child .members-img{
      span{color:#928785;font-size: 40px;}
      height: 258px;
      width: 253px;
      background: #cccccc linear-gradient(360deg,rgba(252,95,69,1) 0%, rgba(0,0,0,0) 50%);
    }
    .members-block:first-child .member-line{
      height: 3px;
      width: 100%;
      position: relative;
      top:4px;
      background-color: #fc5f45;
    }
    .members-block:first-child .name{color:#fc5f45;}

    .members-block:nth-child(2) .members-img{
      span{color:#928785;font-size: 40px;}
      height: 258px;
      width: 253px;
      background: #cccccc linear-gradient(360deg,rgba(56,198,149,0.6) 0%, rgba(0,0,0,0) 50%);
    }
    .members-block:nth-child(2) .member-line{
      height: 3px;
      width: 100%;
      position: relative;
      top:4px;
      background-color: #38c695;
    }
    .members-block:nth-child(2) .name{color:#38c695;}

    .members-block:nth-child(3) .members-img{
      span{color:#928785;font-size: 40px;}
      height: 258px;
      width: 253px;
      background: #cccccc linear-gradient(360deg,rgba(178,124,245,1) 0%, rgba(0,0,0,0) 50%);
    }
    .members-block:nth-child(3) .member-line{
      height: 3px;
      width: 100%;
      position: relative;
      top:4px;
      background-color: #b27cf5;;
    }
    .members-block:nth-child(3) .name{color: #b27cf5;}

    .members-block:nth-child(4) .members-img{
      span{color:#928785;font-size: 40px;}
      height: 258px;
      width: 253px;
      background: #cccccc linear-gradient(360deg,rgba(254,185,96,1) 0%, rgba(0,0,0,0) 50%);
    }
    .members-block:nth-child(4) .member-line{
      height: 3px;
      width: 100%;
      position: relative;
      top:4px;
      background-color: #feb960;
    }
    .members-block:nth-child(4) .name{color: #feb960;}
  }
  .social-contact{
    width: 1140px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.11);
    height: 352px;
    margin-top: 48px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    .rect{
      position: absolute;
      width: 90px;
      height: 60px;
      background-color: #ffffff;
      transform:rotate(45deg);
      left: 100px;
      top:-15px;
    }
    .about-member{
      width: 650px;
      h3{font-size: 20px;font-family:Poppins;}
      >span{font-family:Poppins;color:#616161;}
    }
    .social-wrapper{
      margin-top: 75px;
      display: flex;
      width: 200px;
      .social,.share{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .share{margin-right: 34px;}
      .social{
        flex-direction: column;
        gap:16px;
        padding-left: 22px;
        height: 151px;
        border-left: 3px solid #efefef;
        span{font-size: 15px;font-family:Poppins;color:#616161;line-height: 15px;}
        div{
          display: flex;
          align-items: center;
          gap:5px;
          width: 90px;
        }
      }
    }
  }
}
.statistic{
  height: 464px;
  background: url("img/background-s-withs.png");
  display: flex;
  align-items: center;
  justify-content: center;
  gap:150px;
  div{
    width: 146px;
    height: 195px!important;
    display: flex;
    flex-direction: column;
    align-items: center;
    img:first-child{}
    img:last-child{margin-top: 35px;}
    span{color:white;margin-top: 20px;font-family: "Gill Sans", sans-serif;}
    .count{font-size: 20px;}
    .des{font-size: 15px;color:#9f9fa2;}
  }
}
.steps{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1726px;
  background: #ffffff;
  h2{font-size: 50px;margin-bottom: 25px;}
  >span{margin-bottom: 130px;font-size: 18px;font-family:Poppins;color:#616161;}
  .step-img{
    height: 300px;
    width: 556px;
    .step-desc{
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.11);
      >span,>h2{
        margin-right: 60px;
      }
      >span{margin-bottom: 15px;}

      h2{font-size: 25px;font-family:Poppins;}
      >span{font-size: 15px;font-family:Poppins;}
      h2,span{
        width: 275px;
      }
      .step-line{position: relative;}

    }
  }
  //1step
  div:nth-child(3){
    background: url("img/1step.png");
  }
  div:nth-child(3) .step-desc{
    top:-45px;
    right:285px;
    position: relative;
    width: 458px;
    height: 301px;
    background-color: #ffffff;
    &:after{
      content:"";
      position: absolute;
      background: url("img/01.png") no-repeat;
      width: 60px;
      top:40px;
      left:38px;
      height: 50px;
    }
    &:before{
      content:"";
      position: absolute;
      width: 120px;
      top:80px;
      left:25px;
      height:1px;
      transform: rotate(-45deg);
      background: #e3e3e3;
    }
    .step-line{
      height: 3px;
      width: 100%;
      background: #fc5f45;
      top:43px;
    }
  }
   //2step
  div:nth-child(4){
    background: url("img/2step.png");
  }
  div:nth-child(4) .step-desc{
    .step-line{
      height: 3px;
      width: 100%;
      background: #38c695;
      top:43px;
    }
    &:after{
      content:"";
      position: absolute;
      background: url("img/02.png") no-repeat;
      width: 70px;
      top:40px;
      left:38px;
      height: 50px;
    }
    &:before{
      content:"";
      position: absolute;
      width: 120px;
      top:80px;
      left:27px;
      height:1px;
      transform: rotate(-45deg);
      background: #e3e3e3;
    }
    top:-45px;
    left:383px;
    position: relative;
    width: 458px;
    height: 301px;
    background-color: #ffffff;
  }
  //3step
  div:nth-child(5){
    background: url("img/3step.png");
  }
  div:nth-child(5) .step-desc{
    .step-line{
      height: 3px;
      width: 100%;
      background: #b27cf5;
      top:43px;
    }
    top:-45px;
    right:285px;
    position: relative;
    width: 458px;
    height: 301px;
    background-color: #ffffff;
    &::after{
      content:"";
      position: absolute;
      background: url("img/03.png") no-repeat;
      width: 70px;
      top:40px;
      left:38px;
      height: 50px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 120px;
      top: 80px;
      left: 25px;
      height: 1px;
      transform: rotate(-45deg);
      background: #e3e3e3;
    }
  }
  //4step
  div:nth-child(6){
    background: url("img/4step.png");
  }
  div:nth-child(6) .step-desc{
    .step-line{
      height: 3px;
      width: 100%;
      background: #feb960;
      top:43px;
    }
    &::after{
      content:"";
      position: absolute;
      background: url("img/04.png") no-repeat;
      width: 70px;
      top:40px;
      left:38px;
      height: 50px;
    }
    &:before{
      content:"";
      position: absolute;
      width: 120px;
      top:80px;
      left:27px;
      height:1px;
      transform: rotate(-45deg);
      background: #e3e3e3;
    }
    top:-45px;
    left:383px;
    position: relative;
    width: 458px;
    height: 301px;
    background-color: #ffffff;
  }
}
.pricing-table{
  height: 1049px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f7f7f7;
  h2{
    font-size: 50px;
    margin-bottom: 25px;
  }
  >span{font-size: 18px;margin-bottom: 80px;font-family:Poppins;color:#616161;}
  .packages-wrapper{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    h3{
      font-family:Poppins;
      letter-spacing: 1px;
    }

    >div{
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.11);
      width: 360px;
      height: 576px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h3{font-size: 20px;}
      img{margin-bottom:30px;}
      div{
        font-size: 15px;
        margin-top: 15px;
        font-family:Poppins;
      }
    }
    //1 package
    >div:first-child
    {
      .line{
        height: 3px;
        width: 100%;
        background-color: #38c695;
        position: absolute;
        top:-15px;
      }
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top:127px;
        background: url("img/$125.png") no-repeat;
        width: 70px;
        height: 70px;
      }
      button
      {
        border:2px solid #38c695;
        background-color: #ffffff;
        color: #38c695;
        border-radius:30px;
        padding: 12px 32px 12px 32px;
        font-weight:bold;
        letter-spacing: 1px;
        margin-top: 50px;
        &:hover{
          transition: 0.3s;
          background-color: #38c695;
          color:white;
        }
      }
    }
    //2 package
    >div:nth-child(2)
    {
      .line{
        height: 3px;
        width: 100%;
        background-color: #fc5f45;
        position: absolute;
        top:-15px;
      }
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top:127px;
        background: url("img/$195.png") no-repeat;
        width: 70px;
        height: 70px;
      }
      button
      {
        border:none;
        background-color:#fc5f45;
        color:white;
        border-radius:30px;
        padding: 12px 32px 12px 32px;
        font-weight:bold;
        letter-spacing: 1px;
        margin-top: 50px;
        &:hover{
          transition: 0.3s;
          background-color: #38c695;
          color:white;
        }
      }
    }
    //3 package
    >div:nth-child(3)
    {
      .line{
        height: 3px;
        width: 100%;
        background-color: #b27cf5;
        position: absolute;
        top:-15px;
      }
      position: relative;
      &::before{
        content: '';
        position: absolute;
        top:127px;
        background: url("img/$145.png") no-repeat;
        width: 70px;
        height: 70px;
      }
      button
      {
        border:2px solid #b27cf5;
        background-color: #ffffff;
        color: #b27cf5;
        border-radius:30px;
        padding: 12px 32px 12px 32px;
        font-weight:bold;
        letter-spacing: 1px;
        margin-top: 50px;
        &:hover{
          transition: 0.3s;
          background-color: #b27cf5;
          color:white;
        }
      }
    }
  }
}
@font-face {
  font-family:MyRoboto;
  src:url("Fonts/Roboto/Roboto-Bold.ttf");
}
.testimonials{
  height: 874px;
  background-color: #3f4049;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2{font-size: 50px;margin-bottom:25px;color:white;margin-top: 0;}
  >span{margin-bottom: 80px;font-size: 18px;font-family:Poppins;color:white;}
  .info-wrapper{
    display: flex;
    align-items: center;
  }

  .tes-photo{
    height: 399px;
    width: 384px;
    border:10px solid #9a9290;
    background: linear-gradient(#cccccc 10%,#d9aca5);
    display: flex;
    justify-content:center;
    align-items: center;
    span{
      font-size: 50px;
      color:#948684;
    }
  }
  .tes-desc{
    width: 780px;
    height: 312px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    &::before{
      content: '';
      background-image: url("img/2q.png");
      background-repeat: no-repeat;
      background-size: 115px;
      width: 130px;
      height: 130px;
      position: absolute;
      left:35px;
      top:0px;
    }
    &::after{
      content: '';
      background-image: url("img/1q.png");
      background-repeat: no-repeat;
      background-size: 115px;
      width: 130px;
      height: 130px;
      position: absolute;
      bottom: 0;
      right: 35px;
    }

    .tes-line{
      background-color: #fc5f45;
      position: absolute;
     width: 100.3%;
      height: 3px;
      top:310px;
    }
    .melina{
      margin-top: 20px;
      font-family: MyRoboto;
      font-size: 18px;
    }
    .who{
      margin-top: 5px;
      color: #fc5f45;
      font-size: 13px;
    }
    .text-s{font-size: 15px;}
    span{
      font-family:Poppins;
      width: 628px;
    }
    .img-tes{
      margin-top:40px;
      width: 628px;
    }
    .tes-line{
      position:absolute;
    }
  }
}
.select{
  height: 1050px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2{
    font-size: 50px;
    margin-bottom: 25px;
  }
  .get-started{
    margin-top: 100px;
    display: flex;
    align-items: center;
    gap:15px;
    span{
      font-family:Poppins;
      font-size: 25px;
    }
    button{
      border:none;
      background-color:#fc5f45;
      color:white;
      border-radius:30px;
      padding: 12px 32px 12px 32px;
      font-weight:bold;
      letter-spacing: 1px;
    }
  }
  >span{font-size: 18px;margin-bottom: 80px;font-family:Poppins;color:#616161;}
  .features{
    display: grid;
    gap:75px;
    grid-template-columns: 335px 335px 335px;
    grid-template-rows: 200px 200px;
    div{
       span{
         width: 100%;}
    }
    div:last-child{
      img{height: 48px;}
    }
    span{font-family: Poppins;}
    .features-img{
      display: flex;
      align-items: center;
      gap:10px;
      width: 142px;
      margin-bottom: 30px;
    }
  }
}
.blog{
  h2{font-size: 50px;margin-bottom:25px;margin-top: 0;}
  >span{margin-bottom: 80px;font-size: 18px;font-family:Poppins;}
  height: 1151px;
  background-color:#f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .blog-wrapper{
    display: flex;
    gap:30px;
    .left,.right{
      height: 675px;
      width: 555px;
    }
    .left{
      position: relative;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.11);
      div:first-child{
        font-family:Poppins;
        padding-left: 50px;
        padding-bottom: 30px;
        display: flex;
        gap:10px;
        align-items: flex-end;
        height: 443px;
        width: 100%;
        background: url("img/left-blog.png");
        span:first-child{
          color: #fc5f45;
          font-size: 15px;
        }
        span:last-child{
          font-size: 13px;
          color:#d4d4d4;

        }
      }
      .left-line{
        position: absolute;
        height: 3px;
        top:672px;
        width: 100%;
        background-color: #fc5f45;
      }
      div:nth-child(2){
        h3,span{
          font-family:Poppins;
          width: 443px;
        }
        h3{font-size: 20px;}
        span{font-size: 15px;}
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 230px;
      }
    }
    .right{
      display: grid;
      grid-template-rows: 210px 210px 210px;
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.11);
      font-family:Poppins;
      >div{
        position: relative;
        padding-left: 40px;
        display: flex;
        justify-content: center;
        flex-direction: column;
         .text{width: 400px;}

        .data{
          gap:10px;
          span:first-child{
            color: #38c695;
            font-size: 15px;
          }
          span:last-child{
            font-size: 13px;
            color:#616161;
            margin-left: 10px;
          }
        }
        h3{
          width: 420px;font-size: 18px;}
      }
      div:nth-child(2){
        .blog-line{
          background-color: #b27cf5;
          position: absolute;
          width: 100%;
          height: 3px;
          left:0;
          top:206px;
        }
        span:first-child{
          color: #b27cf5;
          font-size: 15px;
        }
      }
      div:nth-child(1){
        .blog-line{
          background-color: #38c695;
          position: absolute;
          width: 100%;
          height: 3px;
          left:0;
          top:252px;
        }
      }
      div:nth-child(3){
        .blog-line{
          background-color: #feb960;
          position: absolute;
          width: 100%;
          height: 3px;
          left:0;
          top:252px;
        }
        span:first-child{
          color: #feb960;
          font-size: 15px;
        }
      }
    }
  }
}
.subscribe{
  height: 425px;
  background: #ffffff;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  h3{font-size:30px;font-family: Poppins;}
  button,input{
    width: 250px;
  }
  input{
    padding: 9px 15px 9px 15px;
    box-sizing: border-box;
    border-bottom-left-radius:30px;
    border-top-left-radius:30px;
    background-color: #f7f7f7;
    border: 1px solid #efefef;
  }
  button{
    padding: 10px 15px 10px 15px;
    border: none;
    border-bottom-right-radius:30px;
    border-top-right-radius:30px;
    background-color: #fc5f45;
    margin-left:-10px;
    color:white;
  }
}
.get-in{
  h2{font-size: 50px;margin-bottom:25px;margin-top: 0;}
  >span{margin-bottom: 80px;font-size: 18px;font-family:Poppins;}
  height: 1278px;
  background-color: #cccccc;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  form{
    display: flex;
    justify-content: space-between;
    width: 750px;
    height: 452px;
    flex-wrap: wrap;
    input,textarea{
      text-align: center;
      border-radius: 5px;
      border: 1px solid #efefef;
    }

    input{

      height: 50px;
      width: 360px;
    }
    textarea{
      height: 200px;
      resize: none;
      width: 750px;
    }
    button{
      border:none;
      background-color:#fc5f45;
      color:white;
      border-radius:30px;
      padding: 0 32px 0 32px;
      font-weight:bold;
      letter-spacing: 1px;
      margin-left: 275px!important;
    }
  }
  .footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:20px;
    position: relative;
    img{
      width: 140px;
      height: 40px;
    }
    height: 225px;
    width: 1139px;
    background-color: #3f4049;
    margin-top: 150px;
    span{color:wheat;}
    .fot-line{
      position: absolute;
      top:225px;
      left:0;
      height: 3px;
      width: 100%;
      background:linear-gradient(90deg, rgba(254,185,96,1) 25%, rgba(56,198,149,1) 25%, rgba(56,198,149,1) 50%, rgba(178,124,245,1) 50%, rgba(178,124,245,1) 75%, rgba(252,95,69,1) 75%);
    }
    >div{
      width: 209px;
      height: 101px;
      display: flex;
      flex-direction: column;
      gap:40px;
    }
    span:first-child{
      color: #b27cf5;
    }
  }
}
.follow .social-f{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img{
    width: 25px;
    height: 25px;
  }
}
